<footer>
    <div class="agencyInfo">
        <img class="agencylogo"  src="/assets/images/{{currentAgency.logo}}" style="display:block;">
        <div class="agency-details" style="display:block;">
            <span><b>{{currentAgency.name}}</b></span>
            <span>{{currentAgency.address}}, {{currentAgency.city}} {{currentAgency.postalCode}}</span>
            <a href="tel:{{currentAgency.phone}}">{{currentAgency.phoneFormatted}}</a>
            <a href="mailto:{{currentAgency.email}}">{{currentAgency.email}}</a> 
        </div>
    </div>
</footer>