<select id="county-select" onchange={{action "selectCounty" value="target.value"}}>
  <option value="">-- Select a County --</option>
  <p>{{counties}}</p>
  {{#each counties as |county|}}
    <option value={{county.id}}>{{county.county}}</option>
  {{/each}}
</select>

{{#if sortedPlaces}}
  {{place-selector places=sortedPlaces selectedAction=selectedAction getCityBoundary=(action getCityBoundary) updateMunicipality=(action updateMunicipality)}}
{{/if}}