<div class="logo-collection">
    <img src="/assets/images/ambag_logo.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
    <img src="/assets/images/bcag_logo.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
    <img src="/assets/images/slocog_logo.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
    <img src="/assets/images/shasta_logo.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">    
    <img src="/assets/images/TRPA_logo.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
</div>
