<div class="logo-collection">
    <img src="/assets/images/logo-with-text.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
    <img src="/assets/images/logo_slocog.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
    <img src="/assets/images/logo_srta.png" class="logo-image {{if small 'sign-up'}} {{if pheader 'pheader'}}">
</div>
