<section class="route map-developments-development-index">
  <div class="development-panel-header">
    <h1>View Development</h1>

    <div class="left-panel-links">
      {{#link-to 'map'}}
        <img src="/assets/images/chevrons-left.svg">
        Close
      {{/link-to}}

      {{#if session.isAuthenticated}}
        {{#link-to 'map.developments.development.edit' model}}
          <img src="/assets/images/edit-3.svg">
          Edit
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="development-content">
      <div class="development-header">
        <h1 onclick={{action findPosition}}>{{model.name}}</h1>
        <h2><img src="/assets/images/map-pin.svg" onclick={{action findPosition}}> {{model.fullAddress}}</h2>

        {{#if model.prjUrl}}
          <h2 class="project-url">
            <img src="/assets/images/link.svg">
            <a href={{model.prjUrl}}>{{model.prjUrl}}</a>
          </h2>
        {{/if}}

      </div>

      <div class="detail-group">
        <article>
          <h4>Meta Data</h4>
          <div class="row">
            <div class="column">
              {{#if model.devlper}}
                <div class="field">
                  <label for="devlper">{{defined-term key="DEVELOPER"}}</label>
                  <span>{{model.devlper}}</span>
                </div>
              {{/if}}
              {{#if model.user}}
                <div class="field">
                  <label for="user">Entry Created By</label>
                  <span>
                    {{#if (eq model.user.fullName 'undefined undefined')}}
                      {{loading-spinner message="Loading Creator" isLoading=true}}
                    {{else}}
                      {{model.user.displayName}}
                    {{/if}}
                  </span>
                </div>
              {{/if}}
              <div class="field">
                <label for="lastUpdated">Last Updated</label>
                <span>{{model.updatedAt}}</span>
              </div>
              <div class="field long-form">
                <label for="description">{{defined-term key="DESCRIPTION"}}</label>
                <p>{{model.descr}}</p>
              </div>
              <div class="field long-form">
                <label for="notes">{{defined-term key="NOTES"}}</label>
                <p>{{model.notes}}</p>
              </div>
              <div class="row">
                <div class="column">
                  <div class="field">
                    <label for="projId">{{defined-term key="PROJID"}}</label>
                    {{model.projId}}
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label for="trafficCountData">{{defined-term key="TRAFFIC_COUNT_DATA"}}</label>
                    <a href="{{model.trafficCountData}}">{{model.trafficCountData}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="metric-groups-wrapper">
        <div class="metric-groups">
          <article>
            <h4>Key Info</h4>
            <div class="row">
              <div class="column">
                <div class="field">
                  <label for="status">
                    {{defined-term key="STATUS"}}
                  </label>

                  <span style="color: {{status-color model.status}}">
                    {{capitalize model.status}}
                  </span>
                </div>
                <div class="field long-form">
                <label for="statComts">{{defined-term key="STATUS_COMMENTS"}}</label>
                <p>{{model.statComts}}</p>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="column">
                
                <div class="field">
                  <label for="yearCompl">
                    {{defined-term key="YEAR_COMPLETE"}}
                    {{#if model.yrcompEst}}
                      <small>(Estimated)</small>
                    {{/if}}
                  </label>
                  {{model.yearCompl}}
                </div>

                {{#if (gt model.yearCompl 2024) }}
                 <div class="field">
                  <label for="percomp24">
                    {{defined-term key="PERCOMP24"}}
                  </label>
                  {{#if model.percomp24}}
                    {{number-format model.percomp24 decimals=0}} %
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>

                <div class="field">
                  <label for="percomp28">
                    {{defined-term key="PERCOMP28"}}
                  </label>
                  {{#if model.percomp28}}
                    {{number-format model.percomp28 decimals=0}} %
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>

                <div class="field">
                  <label for="percomp35">
                    {{defined-term key="PERCOMP35"}}
                  </label>
                  {{#if model.percomp35}}
                    {{number-format model.percomp35 decimals=0}} %
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>

                <div class="field">
                  <label for="percomp45">
                    {{defined-term key="PERCOMP45"}}
                  </label>
                  {{#if model.percomp45}}
                    {{number-format model.percomp45 decimals=0}} %
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>
                {{/if}}

                {{#if model.placetype}}
                  <div class="field">
                  <label for="placetype">{{defined-term key="PLACE_TYPE"}}</label>
                  <span>{{model.placetype}}</span>
                  </div>
                {{/if}}

                {{#if model.gluc}}
                  <div class="field">
                  <label for="gluc">{{defined-term key="GLUC"}}</label>
                  <span>{{model.gluc}}</span>
                  </div>
                {{/if}}

                <div class="field">
                  <label for="sbType">{{defined-term key="SBTYPE"}}</label>
                  {{#if sbTypes}}
                    {{sbTypes}}
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>

                {{#if model.apn}}
                  <div class="field">
                  <label for="apn">{{defined-term key="APN"}}</label>
                  <span>{{model.apn}}</span>
                  </div>
                {{/if}}

                
              </div>

              <div class="column">
                <div class="field">
                  <label for="totalCost">
                    {{defined-term key="COST_OF_CONSTRUCTION" labelOverride="Cost"}}
                  </label>
                  {{#if model.totalCost}}
                    ${{number-format model.totalCost decimals=0}}
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>
                
                <div class="field">
                  <label for="prjarea">
                    {{defined-term key="PROJECT_AREA"}}
                  </label>
                  {{#if model.prjarea}}
                    {{number-format model.prjarea decimals=0}} sqft.
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>                

                <!--div class="field">
                  <label for="onsitepark">
                    {{defined-term key="PARKING_SPACES"}}
                  </label>
                  {{#if model.onsitepark}}
                    {{number-format model.onsitepark decimals=0}}
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div-->

                <div class="field">
                  <label for="parkType">Parking Type</label>
                  {{#if parkTypes}}
                    {{parkTypes}}
                  {{else}}
                    <span class="unknown">Unknown</span>
                  {{/if}}
                </div>

                
              </div>
            </div>

            <div class="attributes-wrapper">
              {{#if transitOptions}}
                <p class="attributes">
                  <label>
                    Nearest Public Transit Option{{if (not-eq model.nTransit.length 1) 's'}}:
                  </label>
                  {{transitOptions}}
                </p>
              {{/if}}

              {{#if keyAttributes}}
                <p class="attributes">
                  <label>Attributes:</label>
                  {{keyAttributes}}
                </p>
              {{/if}}
            </div>
          </article>

          <article>
            <h4>Residential</h4>

            <div class="row">
              <div class="column">
                {{#if (gt model.gqpop 0)}}
                  <div class="field">
                    <label for="gqpop">
                      {{defined-term key="GROUP_QUARTERS_POPULATION"}}
                    </label>
                    {{number-format model.gqpop decimals=0}}
                  </div>
                {{/if}}
              </div>
              <div class="column">
              </div>
            </div>

            {{#if residentialAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{residentialAttributes}}
              </p>
            {{/if}}

            <div class="table-wrapper">
              <div class="table-heading">
                <h3 class="field">
                  <label for="hu">
                    {{defined-term key="HOUSING_UNITS"}}
                  </label>
                </h3>
                <span>
                  {{#if model.hu}}
                    {{number-format model.hu decimals=0}} Units
                  {{else}}
                    <em>No Housing Units</em>
                  {{/if}}
                </span>
              </div>

              {{#if model.hu}}
                <table class="housing-units">
                  <tr class="table-header">
                    <td>Unit Type</td>
                    <td>Quantity</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.singfamhu}}
                    <tr>
                      <td>{{defined-term key="SINGLE_FAMILY"}}</td>
                      <td>{{number-format model.singfamhu decimals=0}}</td>
                      <td>{{round (mult 100 (div model.singfamhu model.hu))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.multifam}}
                    <tr>
                      <td>{{defined-term key="MULTI_FAMILY"}}</td>
                      <td>{{number-format model.multifam decimals=0}}</td>
                      <td>{{round (mult 100 (div model.multifam model.hu))}}%</td>
                    </tr>
                    {{#if model.mf2_4}}
                    <tr>
                      <td>{{defined-term key="MULTI_FAMILY_2to4"}}</td>
                      <td>{{number-format model.mf2_4 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.mf2_4 model.hu))}}%</td>
                    </tr>
                    {{/if}}
                    {{#if model.mf5up}}
                    <tr>
                      <td>{{defined-term key="MULTI_FAMILY_5up"}}</td>
                      <td>{{number-format model.mf5up decimals=0}}</td>
                      <td>{{round (mult 100 (div model.mf5up model.hu))}}%</td>
                    </tr>
                    {{/if}}
                    {{#if model.mobile}}
                    <tr>
                      <td>{{defined-term key="MOBILE"}}</td>
                      <td>{{number-format model.mobile decimals=0}}</td>
                      <td>{{round (mult 100 (div model.mobile model.hu))}}%</td>
                    </tr>
                    {{/if}}
                  {{/if}}


                  {{#if model.unknownhu}}
                    <tr>
                      <td>{{defined-term key="UNKNOWN_HOUSING_UNITS"}}</td>
                      <td>{{number-format model.unknownhu decimals=0}}</td>
                      <td>{{round (mult 100 (div model.unknownhu model.hu))}}%</td>
                    </tr>
                  {{/if}}
                </table>
                {{#if (or model.units1bd model.units2bd model.units3bd)}}
                  <table class="housing-units">
                    <tr class="table-header">
                      <td>Unit Style</td>
                      <td>Quantity</td>
                      <td>Percentage</td>
                    </tr>
                    {{#if model.units1bd}}
                      <tr>
                        <td>Studio/1 Bedroom</td>
                        <td>{{number-format model.units1bd decimals=0}}</td>
                        <td>{{round (mult 100 (div model.units1bd model.hu))}}%</td>
                      </tr>
                    {{/if}}

                    {{#if model.units2bd}}
                      <tr>
                        <td>2 Bedroom</td>
                        <td>{{number-format model.units2bd decimals=0}}</td>
                        <td>{{round (mult 100 (div model.units2bd model.hu))}}%</td>
                      </tr>
                    {{/if}}

                    {{#if model.units3bd}}
                      <tr>
                        <td>3 Bedroom</td>
                        <td>{{number-format model.units3bd decimals=0}}</td>
                        <td>{{round (mult 100 (div model.units3bd model.hu))}}%</td>
                      </tr>
                    {{/if}}
                  </table>
                {{/if}}
              {{/if}}
            </div>

            <div class="table-wrapper">
              <div class="table-heading">
                <h3 class="field">
                  <label for="affrdUnit">
                    {{defined-term key="AFFORDABLE_UNITS"}}
                  </label>
                </h3>
                <span>
                  {{#if (or model.affrdUnit (eq model.affrdUnit 0))}}
                    {{number-format model.affrdUnit decimals=0}} Units
                  {{else}}
                    <em>Unknown</em>
                  {{/if}}
                </span>
              </div>

              {{#if model.affrdUnit}}
                <table class="affordable-units">
                  <tr class="table-header">
                    <td>Unit Type</td>
                    <td>Quantity</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.affU50}}
                    <tr>
                      <td>Units &lt;50% AMI</td>
                      <td>{{number-format model.affU50 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU50 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU5050}}
                    <tr>
                      <td>Units 50-80% AMI</td>
                      <td>{{number-format model.affU5050 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU5050 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU5080}}
                    <tr>
                      <td>Units 80-120% AMI</td>
                      <td>{{number-format model.affU5080 decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU5080 model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.affU80p}}
                    <tr>
                      <td>Above Units 120% AMI</td>
                      <td>{{number-format model.affU80p decimals=0}}</td>
                      <td>{{round (mult 100 (div model.affU80p model.affrdUnit))}}%</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </div>
          </article>

          <article>
            <h4>Commercial</h4>

            <div class="row">
              <div class="column">
                {{#if model.hotelrms}}
                  <div class="field">
                    <label for="hotelrms">
                      {{defined-term key="HOTEL_ROOMS"}}
                    </label>
                    {{number-format model.hotelrms decimals=0}}
                  </div>
                {{/if}}
              </div>
            </div>

            {{#if commercialAttributes}}
              <p class="attributes">
                <label>Attributes:</label>
                {{commercialAttributes}}
              </p>
            {{/if}}

            <div class="table-wrapper">
              <div class="table-heading">
                <h3 class="field">
                  <label for="rptdemp">
                    {{defined-term key="REPORTED_EMPLOYMENT"}}
                  </label>
                </h3>
                <span>
                  {{#if model.rptdemp}}
                    {{number-format model.rptdemp decimals=0}}
                  {{else}}
                    <em>No Reported Employment Information</em>
                  {{/if}}
                </span>
              </div>

              {{#if model.commsf}}
                <table class="commercial-makeup emp">
                  <tr class="table-header">
                    <td>Use Type</td>
                    <td># of Employment</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.empedu}}
                    <tr>
                     <td>Education</td>
                     <td>{{number-format model.empedu decimals=0}}</td>
                     <td>{{round (mult 100 (div model.empedu model.rptdemp))}}%</td>
                   </tr>
                  {{/if}}
                
                  {{#if model.empfoo}}
                    <tr>
                      <td>Food</td>
                     <td>{{number-format model.empfoo decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empfoo model.rptdemp))}}%</td>
                   </tr>
                 {{/if}}

                 {{#if model.empgov}}
                   <tr>
                     <td>Government</td>
                     <td>{{number-format model.empgov decimals=0}}</td>
                     <td>{{round (mult 100 (div model.empgov model.rptdemp))}}%</td>
                   </tr>
                  {{/if}}

                  {{#if model.empind}}
                   <tr>
                      <td>Industrial</td>
                      <td>{{number-format model.empind decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empind model.rptdemp))}}%</td>
                   </tr>
                  {{/if}}

                  {{#if model.empmed}}
                    <tr>
                      <td>Medical</td>
                      <td>{{number-format model.empmed decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empmed model.rptdemp))}}%</td>
                   </tr>
                 {{/if}}

                  {{#if model.empofc}}
                    <tr>
                      <td>Office</td>
                      <td>{{number-format model.empofc decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empofc model.rptdemp))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.empoth}}
                    <tr>
                      <td>Other</td>
                      <td>{{number-format model.empoth decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empoth model.rptdemp))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.empret}}
                    <tr>
                      <td>Retail</td>
                      <td>{{number-format model.empret decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empret model.rptdemp))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.empsvc}}
                    <tr>
                      <td>Service</td>
                      <td>{{number-format model.empsvc decimals=0}}</td>
                      <td>{{round (mult 100 (div model.empsvc model.rptdemp))}}%</td>
                    </tr>
                  {{/if}}               
                 
                </table>
              {{/if}}
            </div>

            <div class="table-wrapper">
              <div class="table-heading">
                <h3 class="field">
                  <label for="commsf">
                    {{defined-term key="COMMERCIAL_AREA"}}
                  </label>
                </h3>
                <span>
                  {{#if model.commsf}}
                    {{number-format model.commsf decimals=0}} sqft.
                  {{else}}
                    <em>No Commercial SQFT Information</em>
                  {{/if}}
                </span>
              </div>

              {{#if model.commsf}}
                <table class="commercial-makeup">
                  <tr class="table-header">
                    <td>Use Type</td>
                    <td>Floor Area (sqft.)</td>
                    <td>Percentage</td>
                  </tr>

                  {{#if model.retSqft}}
                    <tr>
                      <td>Retail</td>
                      <td>{{number-format model.retSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.retSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.ofcmdSqft}}
                    <tr>
                      <td>Office/Medical</td>
                      <td>{{number-format model.ofcmdSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.ofcmdSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.indmfSqft}}
                    <tr>
                      <td>Industrial/Manufacturing</td>
                      <td>{{number-format model.indmfSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.indmfSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.whsSqft}}
                    <tr>
                      <td>Warehouse/Shipping</td>
                      <td>{{number-format model.whsSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.whsSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.rndSqft}}
                    <tr>
                      <td>Research/Development</td>
                      <td>{{number-format model.rndSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.rndSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.eiSqft}}
                    <tr>
                      <td>Educational/Institutional</td>
                      <td>{{number-format model.eiSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.eiSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.hotelSqft}}
                    <tr>
                      <td>Hotel Room</td>
                      <td>{{number-format model.hotelSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.hotelSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}

                  {{#if model.otherSqft}}
                    <tr>
                      <td>Other</td>
                      <td>{{number-format model.otherSqft decimals=0}}</td>
                      <td>{{round (mult 100 (div model.otherSqft model.commsf))}}%</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </div>
          </article>
           <article>
            {{#if (or (gt model.studk12p 0) (gt model.studunip 0))}}
              <h4>School</h4>
              <div class="row">
                <div class="column">
                  {{#if (gt model.studk12p 0)}}
                    <div class="field">
                      <label for="studk12p">
                        {{defined-term key="STUDENT_ENROLLMENT_KTO12"}}
                      </label>
                      {{number-format model.studk12p decimals=0}}
                   </div>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="column">
                  {{#if (gt model.studunip 0)}}
                    <div class="field">
                      <label for="studunip">
                        {{defined-term key="STUDENT_ENROLLMENT_UNIVERSITY"}}
                      </label>
                      {{number-format model.studunip decimals=0}}
                   </div>
                  {{/if}}
                </div>
            </div>
            {{/if}}
            
          </article>

          <article>
            {{#if model.mixedUse}}
              <div class="field long-form">
                <label for="mixDescr">{{defined-term key="MIXED_USE_DESCR"}}</label>
                <p>{{model.mixDescr}}</p>
              </div>
            {{/if}}
            
          </article>
        </div>
      </div>

    <div class="actions">
      {{#loading-spinner message=flaggingMessage isLoading=isSettingFlag}}
        {{#if session.isAuthenticated}}
          <form {{ action 'flagDevelopment' on="submit" }}>
            {{ input value=reason placeholder="Describe the reason for reporting" required=true class="styled actions__input" }}
            <button type="submit" class="styled negative">Report Development for Review</button>
          </form>
        {{/if}}
      {{/loading-spinner}}
      {{#if hasSuperPermissions}}
        <button class="styled negative" onclick={{action deleteDevelopment}}>Delete Development</button>
      {{/if}}
    </div>
  </div>
</section>
